Server=servidor
Database=Pampero
User=usuario
Password=password
U05_SERVIDOR=servidor
U05_BASE=Pampero
U05_CONTROLADOR=pyodbc
U05_DRIVER=ODBC Driver 18 for SQL Server
U05_USUARIO=usuario
U05_CLAVE=password